{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>    
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, fuga! Eius dolor laborum nisi suscipit officia consectetur corporis dolorum deserunt minus distinctio perspiciatis consequatur in ut ipsam molestiae, eaque dolores eum veniam nobis, libero dolorem. Odit sed sit, labore odio esse delectus modi quidem, necessitatibus nobis officiis, molestiae similique quo magni. Qui, laboriosam nam! Ut provident, eaque quaerat obcaecati corporis consequatur nihil, rem ipsum sit expedita accusamus. Dicta fugit eveniet reiciendis quos numquam nobis nisi modi voluptate magni enim molestiae eligendi, saepe porro corporis accusantium unde impedit dolorem praesentium et repellendus mollitia molestias consectetur in. Deleniti itaque quis doloremque iure.</p>
{% endblock %}