{% extends 'layouts/base.html' %}

{% block content %}

<h1>Abaut</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sequi nemo minus natus recusandae culpa neque maxime eveniet vel, illum sint aut tempore at doloremque fugiat id rerum cupiditate quae laborum et reiciendis expedita. Id impedit totam ab dignissimos atque cum nesciunt. Neque beatae officia doloremque dolorum. Nostrum vero provident earum deleniti blanditiis asperiores quas omnis architecto ex. Autem deleniti id neque dolor sint fuga ut ipsum ratione et, iste doloremque exercitationem! Illo magni fugiat repellendus iste numquam modi sequi velit blanditiis inventore molestias, laborum deserunt in minus enim facere, earum voluptates eveniet nam aspernatur quibusdam quam eius nihil nobis?</p>

<p>Web creada por {{username}}</p>

{% endblock %}